---
const categoryTypes = [
  'Action',
  'Adventure',
  'Animation',
  'Biography',
  'Comedy',
  'Crime',
  'Documentary',
  'Drama',
  'Family',
  'Fantasy',
  'Film-Noir',
  'History',
  'Horror',
  'Musical',
  'Mystery',
  'Romance',
  'Sci-Fi',
  'Sport',
  'Thriller',
  'War',
  'Western',
  'Art-house',
  'Black-Comedy',
  'Chick-flick',
  'Cult-classic',
  'Dark-Comedy',
  'Epic',
  'Erotic',
  'Experimental',
  'Fairy-tale',
  'Film-within-a-film',
  'Futuristic',
  'Gangster',
  'Heist',
  'Historical',
  'Holiday',
  'Indie',
  'Juvenile',
  'Melodrama',
  'Monster',
  'Political',
  'Psychological',
  'Road-movie',
  'Satire',
  'Science-Fiction',
  'Slapstick',
  'Social-issue',
  'Superhero',
  'Surreal',
  'Teen',
  'Vampire',
  'Zombie',
].sort((a, b) => a.localeCompare(b))
const cinemaTypes = [
  { value: 'tv show', title: 'TV Show' },
  { value: 'movie', title: 'Movie' },
  { value: 'tv show or movie', title: 'No Preference' },
]
---

<form class="my-10 grid grid-cols-1 gap-y-8">
  <fieldset class="sm:col-span-4">
    <label for="kind" class="block text-sm font-medium leading-6 text-gray-900"
      >What kind of cinema are you searching for?</label
    >
    <div class="mt-2">
      <select
        id="kind"
        name="kind"
        class="block w-full rounded-md px-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
      >
        {
          cinemaTypes.map(cinemaType => (
            <option value={cinemaType.value}>{cinemaType.title}</option>
          ))
        }
      </select>
    </div>
  </fieldset>
  <fieldset class="sm:col-span-4">
    <legend class="block text-sm font-medium leading-6 text-gray-900"
      >Select all categories that you want the show or movie to include.</legend
    >
    <div class="grid justify-start gap-2 my-4 grid-cols-4">
      {
        categoryTypes.map(categoryType => (
          <div class="flex items-center">
            <input
              type="checkbox"
              id={categoryType}
              value={categoryType}
              name="categories"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
            />
            <label for={categoryType} class="ml-3 min-w-0 flex-1 text-gray-600">
              {categoryType}
            </label>
          </div>
        ))
      }
    </div>
  </fieldset>
  <fieldset class="sm:col-span-4">
    <label
      for="description"
      class="block text-sm font-medium leading-6 text-gray-900"
      >Write any other specifications here. Be as picky as you'd like.
    </label>
    <div class="mt-2">
      <textarea
        id="description"
        name="description"
        rows="3"
        placeholder="Ex. Must have at least 2 seasons and be on Netflix or Hulu."
        class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      ></textarea>
    </div>
  </fieldset>
  <div class="sm:col-span-4">
    <button
      type="submit"
      class="bg-indigo-500 hover:bg-indigo-600 mt-4 w-full h-10 text-white font-bold p-3 rounded flex items-center justify-center"
    >
      <p>Curate My List</p>
    </button>
  </div>
</form>
